<nav id="responsive-menu">
      <ul class="menu-holder">
          <li class="active"><a href="#home"><i class="fa fa-home"></i>Home</a></li>
          <li><a href="#about"><i class="fa fa-briefcase"></i>About</a></li>
          <li><a href="#products"><i class="fa fa-cogs"></i>Download</a></li>
          <li><a href="#services"><i class="fa fa-list"></i>Services</a></li>
          <li><a href="#contact"><i class="fa fa-briefcase"></i>Contact</a></li>
      </ul>
  </nav>
<div class="templatemo-nav-container">
  <div class="container templatemo-white-bg">
    <div class="row">
      <nav class="hidden-xs text-uppercase templatemo-nav">
        <ul class="menu-holder">
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#products">Download</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <div class="text-right visible-xs">
              <a href="#" id="mobile_menu"><span class="fa fa-bars"></span></a>
          </div>
    </div>
  </div>
</div>
<section id="home">
  <div class="container">
    <div class="row">
      <div class="templatemo-home-left col-lg-4 col-md-5 col-sm-5 templatemo-white-bg">
        <div class="templatemo-logo">
          <h1 class="templatemo-site-name templatemo-blue-text">Ion</h1>
          <span class="templatemo-slogan">Make Believe</span>
        </div>
        <img src="images/black-curve.png" alt="Black Curve" class="templatemo-logo-bg">
      </div>
      <div class="templatemo-home-right col-lg-8 col-md-7 col-sm-7 templatemo-white-bg templatemo-gradient-bg">
        <h2 class="templatemo-dark-gray-text">A Nullamac</h2>
        <h3 class="templatemo-dark-gray-text">Felis Dapi Busco</h3>
        <p class="templatemo-home-text templatemo-light-gray-text"><em>Ion Template is free responsive Bootstrap (v3.2.0) layout from templatemo. Credit goes to <a rel="nofollow" href="http://www.smashingmagazine.com/2012/11/20/art-professions-icons-png/" target="_parent">Art Professions</a> icons used in this template. Donec et quam massa. Ut dui lectus, rhoncus vel aliquam et, tincidunt a sem. Aliquam sed feugiat turpis.</em></p>
        <a href="#" class="text-uppercase templatemo-learn-more templatemo-blue-text">Learn More</a>
      </div>
    </div>
  </div>
</section>
<section id="about">
  <div class="container templatemo-white-bg">
    <div class="row">
      <div class="templatemo-about-left col-lg-5 col-md-5 col-sm-5">
        <h2 class="templatemo-blue-text">Lorem IpSum</h2>
        <h3>Duis Sed Odio Sit</h3>
        <p class="templatemo-light-gray-text">Sed felis justo, finibus id metus nec, ultricies pretium est. Nullam vel ex cursus, viverra augue quis, pharetra massa.</p>
        <ul class="templatemo-light-gray-text templatemo-about-list">
          <li>Nulla consectetur</li>
          <li>Mi sed fermentum sodales</li>
          <li>Nisl massa lacinia erat</li>
          <li>Eu commodo ipsum mi sit amet lacus</li>
          <li>Donec sollicitudin tincidunt</li>
          <li>Mauris posuere</li>
          <li>Felis pretium porttitor</li>
        </ul>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7 templatemo-about-right">
        <img src="images/smart-phone.png" alt="Smart Phone">
      </div>
    </div>
  </div>
</section>
<section id="products">
  <div class="container">
    <div class="row">
      <div class="templatemo-products-left col-lg-7 col-md-7 col-sm-7 templatemo-white-bg templatemo-gradient-bg">
        <h2 class="templatemo-red-text">Application</h2>
        <h3>Reviews</h3>
        <p class="templatemo-light-gray-text"><em>
          Cras ultricies aliquam massa iaculis consectetur. Cras tempor sapien risus, sit amet pulvinar turpis pulvinar vitae. Sed consectetur suscipit ultricies. Pellentesque eget lorem eleifend, faucibus libero ut, ultricies turpis.</em>
        </p>
        <p class="templatemo-light-gray-text"><em>
          Pellentesque ultrices nulla sit amet augue aliquet egestas. Nulla erat nulla, maximus at auctor nec, suscipit ut est. Duis ut ligula aliquam, maximus massa sit amet, finibus odio. Morbi vehicula luctus laoreet.
        </em></p>
      </div>
      <div class="templatemo-products-right col-lg-5 col-md-5 col-sm-5 templatemo-white-bg">
        <a href="#" class="templatemo-products-link text-uppercase">
          <span class="first">Download</span>
          <span class="second">App Now</span>
        </a>
        <img src="images/red-button.jpg" alt="Red Button" class="templatemo-red-btn pull-right">
      </div>
    </div>
  </div>
